@using ESC.Persistencia
@model ESC.Models.Empresa

@{
    ViewBag.Title = "EditarEmpresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <!-- INICIO ########## CABEÇALHO DA PÁGINA ########## -->
    <div class="br-pagetitle">
        <i class="icon ion-ios-home-outline"></i>
        <div>
            <h4>Cadastro de Empresa</h4>
            <p class="mg-b-0">Preencha os dados cadastrais</p>
        </div>
    </div>
    <!-- FIM ########## CABEÇALHO DA PÁGINA ########## -->

    <!-- INICIO ########## CORPO DA PÁGINA ########## -->

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="form-layout form-layout-4">

                <div class="row">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "col-sm-2 form-control-label" }) 
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div><!-- row -->

                <div class="row mg-t-20">
                    @Html.LabelFor(model => model.NomeFantasia, htmlAttributes: new { @class = "col-sm-2 form-control-label" }) 
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mg-t-20">
                    @Html.LabelFor(model => model.CNPJ, htmlAttributes: new { @class = "col-sm-2 form-control-label" }) 
                    <div class="col-sm-4 mg-t-5 mg-sm-t-0">
                        @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "00.000.000/0000-00" } })
                        @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mg-t-20">
                    @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "col-sm-2 form-control-label" })
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mg-t-20">
                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "col-sm-2 form-control-label" })
                    <div class="col-sm-3 mg-t-4 mg-sm-t-0">
                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "form-control-label" })
                    <div class="col-sm-2 mg-t-3 mg-sm-t-0">
                        @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.UF, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "form-control-label" })
                    <div class="col-sm-2 mg-t-3 mg-sm-t-0">
                        @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "00.000-000" } })
                        @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mg-t-20">
                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "col-sm-2 form-control-label" })
                    <div class="col-sm-3 mg-t-4 mg-sm-t-0">
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "00 00000-0000" } })
                        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "form-control-label" })
                    <div class="col-sm-4 mg-t-5 mg-sm-t-0">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="row mg-t-20">
                    @Html.LabelFor(model => model.CapitalSocial, htmlAttributes: new { @class = "col-sm-2 form-control-label" })
                    <div class="col-sm-3 mg-t-4 mg-sm-t-0">
                        @Html.EditorFor(model => model.CapitalSocial, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "0,00" } })
                        @Html.ValidationMessageFor(model => model.CapitalSocial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                
                <div class="d-flex align-items-center justify-content-center bg-white-100 ht-md-80 bd pd-x-20">
                    <div class="d-md-flex pd-y-20 pd-md-y-0">
                        <span>
                            <input type="submit" value="Gravar" class="btn btn-info pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2" />
                        </span>
                        <span>
                            @Html.ActionLink("Cancel", "Index", "~/Empresa", new { @class = "btn btn-secondary pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2" })
                        </span>
                    </div>
                </div><!-- form-layout-footer -->
            </div><!-- form-layout -->
            <!-- FIM ########## CORPO DA PÁGINA ########## -->
        </div><!-- br-section-wrapper -->
    </div><!-- br-pagebody -->

}